<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: auto;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row content">
    <div class="col-sm-3 sidenav">
<h4>catagory</h4>
<ol class="list">
  <li class="list__item" ><b>Fruits & Vegetables</b>
    
    <ol class="list list--nested">
      <li class="list__item">Banana </li>
      <li class="list__item">Orange</li>
    </ol>
  </li>
  
 
  
  <li class="list__item">
    <b>Fresh Leaves</b>
    
    <ol class="list list--nested">
      <li class="list__item">Coriander</li>
      <li class="list__item">Palak</li>
    </ol>
  </li>
</ol>
   

<h4>Brands</h4>
<form action="/action_page.php">
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">&nbsp; Brand 1</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2">&nbsp; Brand2</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> &nbsp;Brand3</label><br><br>
  
</form>
   

<h4>Discount</h4>
<form action="/action_page.php">
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">&nbsp; 5%-10% (5)</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2">&nbsp; 10%-15% (4)</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> &nbsp;15%-20% (5)</label><br><br>
  
</form>
   



      <!-- <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div> -->
    </div>

    <div class="col-sm-9 ">
      <h2><small>
Fresh Vegetables (137)</small></h2>

<div class="container bigscreen">
<div class="products">
		
		
	<div class="items">
				<img src="../../assets/images/product-2.jpg" class="img-responsive img-thumbnail" alt="">

				<div class="products-details text-center">
					<div class="products-title"><b>Dingo Dog Bones</b></div>
					<p class="products-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
				
				</div>
				  
				  <div class="row ">
					<div class="col-md-7">
				  <div class="products-quantity">
					<div class="input-group">
						<span class="input-group-addon"><i class="">Qty</i></span>
						<input  type="number" value="2" min="1"  placeholder="">
					  </div>
					  
				  </div>
				</div>
				<div class="col-sm-5">
					
				  <div class="products-removal">
					<button class="remove-product btn btn-warning ">
					  Add
					</button>
				  </div>
				</div>  

			
				</div>
				<p style="font-size: 11px;">Menber price<b>120</b><br>Non-Menber Price<b>130</b><br>Become a Member by clicking <a href="#">here</a></p>
				<div class="products-line-price">
					No. Of times Ordered:<b>144</b>
				  </div>
				
	</div>

	<div class="items">
    <img src="../../assets/images/product-2.jpg" class="img-responsive img-thumbnail" alt="">

    <div class="products-details text-center">
      <div class="products-title"><b>Dingo Dog Bones</b></div>
      <p class="products-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
    
    </div>
      
      <div class="row ">
      <div class="col-md-7">
      <div class="products-quantity">
      <div class="input-group">
        <span class="input-group-addon"><i class="">Qty</i></span>
        <input  type="number" value="2" min="1"  placeholder="">
        </div>
        
      </div>
    </div>
    <div class="col-sm-5">
      
      <div class="products-removal">
      <button class="remove-product btn btn-warning ">
        Add
      </button>
      </div>
    </div>  

  
    </div>
    <p style="font-size: 11px;">Menber price<b>120</b><br>Non-Menber Price<b>130</b><br>Become a Member by clicking <a href="#">here</a></p>
    <div class="products-line-price">
      No. Of times Ordered:<b>144</b>
      </div>
    
</div>
	<div class="items">
		<img src="../../assets/images/product-2.jpg" class="img-responsive img-thumbnail" alt="">
	</div>
	<div class="items">
		<img src="../../assets/images/product-2.jpg" class="img-responsive img-thumbnail" alt="">
	</div>

  </div>
</div>

	   
<div class="container smallscreen">

	
	
	<div class="shopping-cart">
	
	  
	
		<div class="product">
			<div class="product-image">
			  <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
			</div>
			<div class="product-details">
			  <div class="product-title"><b>Nutro™ Adult Lamb and Rice Dog Food</b></div>
			  <p class="product-description">Who doesn't like lamb and rice? We've all hit the halal cart at 3am while quasi-blackout after a night of binge drinking in Manhattan. Now it's your dog's turn!</p>
			</div>
	
	
				  <div class="row ">
						<div class="col-md-4">
					  <div class="products-quantity">
			
						<div class="input-group">
							<span class="input-group-addon"><i class="">Qty</i></span>
							<input  type="number" value="2" min="1"  placeholder="">	<button class="remove-product btn btn-warning ">
								Add
							  </button>
							
						  </div>
						  
					  </div>
					</div>
				
	
				
	
				
					</div>
	
					
				
					  <p style="font-size: 11px;">Menber price<b>120</b><br>Non-Menber Price<b>130</b><br>Become a Member by clicking <a href="#">here</a></p>
					  <div class="products-line-price">
						No. Of times Ordered:<b>144</b>
						  </div> 
		  </div>
	
	  <div class="product">
		<div class="product-image">
		  <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
		</div>
		<div class="product-details">
		  <div class="product-title"><b>Nutro™ Adult Lamb and Rice Dog Food</b></div>
		  <p class="product-description">Who doesn't like lamb and rice? We've all hit the halal cart at 3am while quasi-blackout after a night of binge drinking in Manhattan. Now it's your dog's turn!</p>
		</div>


			  <div class="row ">
					<div class="col-md-4">
				  <div class="products-quantity">
		
					<div class="input-group">
						<span class="input-group-addon"><i class="">Qty</i></span>
						<input  type="number" value="2" min="1"  placeholder="">	<button class="remove-product btn btn-warning ">
							Add
						  </button>
						
					  </div>
					  
				  </div>
				</div>
			

			

			
				</div>

				
			
				  <p style="font-size: 11px;">Menber price<b>120</b><br>Non-Menber Price<b>130</b><br>Become a Member by clicking <a href="#">here</a></p>
				  <div class="products-line-price">
					No. Of times Ordered:<b>144</b>
					  </div> 
	  </div>
	
	 
	
	</div>
	
	</div>
	

 
      
  
    </div>
  </div>
</div>







</body>
</html>
