.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-raised-button.mat-warn{
background-color:   #fd7e14;
  }

  mat-card {
 
      max-width: 400px;
  
      margin: 2em auto;
  
      text-align: center;

    }
  

    mat-form-field {

      display: block;
 
    }