<mat-card>
    
    <mat-card-content>
  
        <form class="example-form">
          <h1>Comfirm Address</h1>
          <img src="../../assets/images/logo.jpeg"  class=" h-50 w-50 img-responsive" alt="">
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Company (disabled)</mat-label>
              <input matInput disabled value="Google">
            </mat-form-field> -->
          
            <div class="checkbox text-left">
              <label><input type="checkbox" value="">Use the same address</label>
            </div>
            <hr>
            
            <mat-form-field class="example-full-width">
              <mat-label>delivery Address</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
             <mat-form-field class="example-full-width">
                <mat-label>Land Mark</mat-label>
                <input matInput>
              </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Postal Code</mat-label>
                <input matInput>
              </mat-form-field>

        
            
        
          
           
         
              <button mat-raised-button color="warn">Book</button>
          </form>
  
    </mat-card-content>
  
  </mat-card>

  