<mat-card>
    
    <mat-card-content>
  
        <form class="example-form">
            <img src="../../assets/images/logo.jpeg"  class=" h-50 w-50 img-responsive" alt="">
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Company (disabled)</mat-label>
              <input matInput disabled value="Google">
            </mat-form-field> -->
          
     
         <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
             <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input matInput>
              </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput>
              </mat-form-field>
            
        
          
           
              <mat-form-field class="example-full-width">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Ex. California">
              </mat-form-field>
              <button mat-raised-button color="warn">Register</button>
          </form>
  
    </mat-card-content>
  
  </mat-card>